<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; 301182353 Vladyslav Byelozerskykh Copyright 2022.</h6>
    </nav>
  </footer>