
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <h1>About Me</h1>
    </div>
    <hr>
    <div class="row">
        <p>Hello, my name is Vladyslav and I am a student at Centennial College. Currently this is my third semester here. My major is AI, otherwise known as Artificial Intelligence. This assignment is from a COMP229 class which is about Web Aplication Development. I still have lots of things to learn, yet I can already see myself using my knowledge in different classes. for fun or coriosity.</p>
      
    </div>
</div>
  



<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


