<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <h1>Home Page</h1>
    </div>
    <hr>
    
        
      <div>
        <h6>Hover a mouse over to read</h6>
      </div>
<br>
         
  </div>
          <br>

<div class="card-space" >
  <div class="card">
    <div class="face front">
      <h1>About this Assignment</h1>
    </div>
    <div class="face back">
      <p>This Assignment was a good tool for me in order to be more professional with web design. It really feels like I did learn a lot of useful information that i can use later in my life.</p>
    </div>
  </div>
  </div>
  


        


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




