<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <h1>Home</h1>
    </div>
    <hr>
    <div class="row">
        <p style="height:300px;">Content Here...</p>
    </div>
</div>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




