
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <h1>Projects</h1>
    </div>
    <hr>
   
</div>
  
<table class="project">
    <tr class="nametag">
        <td>
            Project1
        </td>
        <td>
            Project2
        </td>
        <td>
            Project3
        </td>
    </tr>
    <tr class="nametag">
        <td>
            <img src="Assets/images/project1.png" alt="project1" class="image3">

        </td>
        <td>
            <img src="Assets/images/project2.png" alt="Project2" class="image3">

        </td>
        <td>
            <img src="Assets/images/project3.png" alt="Project3" class="image3">

        </td>
    </tr>
    <tr class="nametag">
        <td>
            <br>
            This is a website game where you need to catch the fly. Every time a fly is caught, it becomes faster.
        </td>
        <td>
            <br>
            This is my midterm test from my last year. It is a contact program where you need to input information.
        </td>
        <td>
            <br>
            This is a simple gallery website, where you can click arrows to see different images.
        </td>
    </tr>
</table>






<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


