
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <h1>Services</h1>
    </div>
    <hr>

    <table>
        <td class="td1">
    <div class="row">
        <p>My knowledge in General Programming is:</p>
    </div>
        <ul>
            <li>
                Python
            </li>
            <li>
                Java
            </li>
            <li>
                C#
            </li>
            <li>
                SQL
            </li>
        </ul>
  
    <div class="row">
        <p>My knowledge in Web Development is:</p>
    </div>
        <ul>
            <li>
                HTML
            </li>
            <li>
                JavaScript
            </li>
            <li>
                CSS
            </li>
        </ul>
    </div>
    <div class="row">
        <p>My knowledge in Mobile Apps is:</p>
    </div>
        <ul>
            <li>
                Java
            </li>
            <li>
                JavaScript
            </li>
            <li>
                HTML
            </li>
            <li>
                CSS
            </li>
        </ul>
    
    </div>
</td>
<td>
    <img src="Assets/images/service1.jpg" alt="Service" class="image2">

</td>
</table>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


